# Imports

In [1]:
import pandas as pd
import ast
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
import polars as pl

# Pandas check

In [2]:
df = pd.read_csv("data/raw/listings_Paris+(1).csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95885 entries, 0 to 95884
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            95885 non-null  int64
 1   listing_url                                   95885 non-null  object
 2   scrape_id                                     95885 non-null  int64
 3   last_scraped                                  95885 non-null  object
 4   source                                        95885 non-null  object
 5   name                                          95885 non-null  object
 6   description                                   91500 non-null  object
 7   neighborhood_overview                         49357 non-null  object
 8   picture_url                                   95883 non-null  object
 9   host_id                                       95885 non-null  int64
 10  host_url                                      95885 non-null  object
 11  host_name                                     95877 non-null  object
 12  host_since                                    95877 non-null  object
 13  host_location                                 76421 non-null  object
 14  host_about                                    41058 non-null  object
 15  host_response_time                            57950 non-null  object
 16  host_response_rate                            57950 non-null  object
 17  host_acceptance_rate                          65403 non-null  object
 18  host_is_superhost                             95811 non-null  object
 19  host_thumbnail_url                            95877 non-null  object
 20  host_picture_url                              95877 non-null  object
 21  host_neighbourhood                            33607 non-null  object
 22  host_listings_count                           95877 non-null  float64
 23  host_total_listings_count                     95877 non-null  float64
 24  host_verifications                            95877 non-null  object
 25  host_has_profile_pic                          95877 non-null  object
 26  host_identity_verified                        95877 non-null  object
 27  neighbourhood                                 49357 non-null  object
 28  neighbourhood_cleansed                        95885 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      95885 non-null  float64
 31  longitude                                     95885 non-null  float64
 32  property_type                                 95885 non-null  object
 33  room_type                                     95885 non-null  object
 34  accommodates                                  95885 non-null  int64
 35  bathrooms                                     74587 non-null  float64
 36  bathrooms_text                                95788 non-null  object
 37  bedrooms                                      89718 non-null  float64
 38  beds                                          74455 non-null  float64
 39  amenities                                     95885 non-null  object
 40  price                                         74579 non-null  object
 41  minimum_nights                                95885 non-null  int64
 42  maximum_nights                                95885 non-null  int64
 43  minimum_minimum_nights                        95885 non-null  int64
 44  maximum_minimum_nights                        95885 non-null  int64
 45  minimum_maximum_nights                        95885 non-null  int64
 46  maximum_maximum_nights                        95885 non-null  int64
 47  minimum_nights_avg_ntm                        95885 non-null  float64
 48  maximum_nights_avg_ntm                        95885 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              91001 non-null  object
 51  availability_30                               95885 non-null  int64
 52  availability_60                               95885 non-null  int64
 53  availability_90                               95885 non-null  int64
 54  availability_365                              95885 non-null  int64
 55  calendar_last_scraped                         95885 non-null  object
 56  number_of_reviews                             95885 non-null  int64
 57  number_of_reviews_ltm                         95885 non-null  int64
 58  number_of_reviews_l30d                        95885 non-null  int64
 59  first_review                                  63697 non-null  object
 60  last_review                                   63697 non-null  object
 61  review_scores_rating                          63697 non-null  float64
 62  review_scores_accuracy                        63583 non-null  float64
 63  review_scores_cleanliness                     63586 non-null  float64
 64  review_scores_checkin                         63575 non-null  float64
 65  review_scores_communication                   63584 non-null  float64
 66  review_scores_location                        63577 non-null  float64
 67  review_scores_value                           63575 non-null  float64
 68  license                                       76038 non-null  object
 69  instant_bookable                              95885 non-null  object
 70  calculated_host_listings_count                95885 non-null  int64
 71  calculated_host_listings_count_entire_homes   95885 non-null  int64
 72  calculated_host_listings_count_private_rooms  95885 non-null  int64
 73  calculated_host_listings_count_shared_rooms   95885 non-null  int64
 74  reviews_per_month                             63697 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 54.9+ MB

In [3]:
df.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 75, dtype: object

# Polars part
## Normalize docs

In [4]:
def normalize_doc(doc):
      # Construit des patterns complets pour chaque document
      list_col = df.columns.to_list()
      result = {}
      for col in list_col:
            value = doc.get(col, None)
            if isinstance(value,str) and value == "":
                  value = None
            # reformatte les listes
            if col =="price" and value is not None:
                  try : 
                        value = value.replace("$","")
                        value = float(value)
                  except (ValueError, TypeError):
                        value=None

            elif col in ['host_verifications', 'amenities']:
                  if isinstance(value, list) and value ==[]:
                        value = None
                  elif isinstance(value, str):
                        try:
                              value = value.replace("[","").replace("]","").replace("'",'')
                              value = value.split(',')
                              value = [val.strip() for val in value]
                        except (ValueError, TypeError):
                              value=None
                        
            result[col] = value
      return result

## Check differences

In [5]:
def check_differences(firstrow, lastrow):
    first_doc = normalize_doc(documents[firstrow])
    lastdoc = normalize_doc(documents[lastrow])

    # Comparer les types
    print("First Document:")
    for k, v in first_doc.items():
        print(f"  {k}: {type(v).__name__} = {repr(v)[:100]}")

    print("\nLast Document :")
    for k, v in lastdoc.items():
        print(f"  {k}: {type(v).__name__} = {repr(v)[:100]}")

    # Chercher les différences
    print("\nDifférences:")
    for k in first_doc.keys():
        first_type = type(first_doc[k]).__name__
        last_type = type(lastdoc[k]).__name__
    if first_type != last_type:
        print(f"  {k}: {first_type} vs {last_type}")
    elif first_doc[k] != lastdoc[k]:
        if k in ['price', 'reviews_count']:  # Colonnes importantes
            print(f"  {k}: valeur différente")
#check_differences(125,126)

## Load Polars Dataframe

In [ ]:
# Étape 1 : Récupérer les données avec PyMongo
with MongoClient('mongodb://bi_user:bi_password@192.168.1.173:27017/') as client :
    db = client['ncdb']
    collection = db['paris_listings']
    documents = list(collection.find())
    normalized_docs = [normalize_doc(doc) for doc in documents]
    # Étape 2 : Convertir en DataFrame Polars
    polar_df = pl.DataFrame(normalized_docs, infer_schema_length=1000)
    #print(polar_df.__len__)

    # Étape 3 : Analyser avec Polars

## Questions
### P2S2Q1 : Calculer le taux de réservation moyen par mois par type de logement

In [7]:
# Type de logement : property_type
# Disponibilité sur 30 jours : availability_30
property_type_group = polar_df.group_by('property_type').agg([
    pl.len().alias("total_days")*30,
    pl.mean("availability_30").alias("mean_avail")    
])
property_type_group = property_type_group.with_columns( ( ( pl.col("total_days")- pl.col("mean_avail") ) / pl.col("total_days")*100).round(2).alias("mean_book_pct") )
property_type_group = property_type_group.sort("mean_book_pct",descending=True)
property_type_group

shape: (70, 4)
┌─────────────────────────────┬────────────┬────────────┬───────────────┐
│ property_type               ┆ total_days ┆ mean_avail ┆ mean_book_pct │
│ ---                         ┆ ---        ┆ ---        ┆ ---           │
│ str                         ┆ u32        ┆ f64        ┆ f64           │
╞═════════════════════════════╪════════════╪════════════╪═══════════════╡
│ Dome                        ┆ 30         ┆ 0.0        ┆ 100.0         │
│ Private room in rental unit ┆ 179400     ┆ 7.266388   ┆ 100.0         │
│ Cave                        ┆ 60         ┆ 0.0        ┆ 100.0         │
│ Shared room in guest suite  ┆ 30         ┆ 0.0        ┆ 100.0         │
│ Entire bungalow             ┆ 30         ┆ 0.0        ┆ 100.0         │
│ …                           ┆ …          ┆ …          ┆ …             │
│ Tower                       ┆ 30         ┆ 29.0       ┆ 3.33          │
│ Shipping container          ┆ 30         ┆ 29.0       ┆ 3.33          │
│ Barn                        ┆ 30         ┆ 30.0       ┆ 0.0           │
│ Castle                      ┆ 30         ┆ 30.0       ┆ 0.0           │
│ Entire bed and breakfast    ┆ 30         ┆ 30.0       ┆ 0.0           │
└─────────────────────────────┴────────────┴────────────┴───────────────┘

### P2S2Q2 : Calculer la médiane des nombre d’avis pour tous les logements

In [8]:
# Nombre d'avis : number_of_reviews
review_median = polar_df.select(pl.col("number_of_reviews").median())

print(review_median)

shape: (1, 1)
┌───────────────────┐
│ number_of_reviews │
│ ---               │
│ f64               │
╞═══════════════════╡
│ 3.0               │
└───────────────────┘

### P2S2Q3 : Calculer la médiane des nombre d’avis par catégorie d’hôte

In [11]:
# Catégorie d'hotes : host_is_superhost
host_type = polar_df.group_by("host_is_superhost").agg([
    pl.median("number_of_reviews").alias("cat_median")
])
print(host_type)

shape: (3, 2)
┌───────────────────┬────────────┐
│ host_is_superhost ┆ cat_median │
│ ---               ┆ ---        │
│ bool              ┆ f64        │
╞═══════════════════╪════════════╡
│ null              ┆ 12.5       │
│ false             ┆ 2.0        │
│ true              ┆ 24.0       │
└───────────────────┴────────────┘

### P2S2Q4 : Calculer la densité de logements par quartier de Paris

In [ ]:
# Quartier de Paris normalisé : neighbourhood_cleansed
total_listings = len(polar_df)
paris_neighborhood = polar_df.group_by("neighbourhood_cleansed").agg([
    (pl.len()/total_listings*100).round(2).alias("neighborhood_density")
])
paris_neighborhood = paris_neighborhood.sort("neighborhood_density", descending=True)
paris_neighborhood

shape: (20, 2)
┌────────────────────────┬──────────────────────┐
│ neighbourhood_cleansed ┆ neighborhood_density │
│ ---                    ┆ ---                  │
│ str                    ┆ f64                  │
╞════════════════════════╪══════════════════════╡
│ Buttes-Montmartre      ┆ 11.01                │
│ Popincourt             ┆ 8.79                 │
│ Vaugirard              ┆ 8.14                 │
│ Batignolles-Monceau    ┆ 7.15                 │
│ Entrepôt               ┆ 6.84                 │
│ …                      ┆ …                    │
│ Élysée                 ┆ 3.02                 │
│ Hôtel-de-Ville         ┆ 2.94                 │
│ Palais-Bourbon         ┆ 2.86                 │
│ Luxembourg             ┆ 2.82                 │
│ Louvre                 ┆ 2.11                 │
└────────────────────────┴──────────────────────┘

### P2S2Q5 : Identifier les quartiers avec le plus fort taux de réservation par mois

In [10]:
# Quartier de Paris normalisé : neighbourhood_cleansed
# Disponibilité sur 30 jours : availability_30

neighborhood_rating = polar_df.group_by("neighbourhood_cleansed").agg([
    pl.len().alias("total_days")*30,
    pl.sum("availability_30").alias("total_avail")    
])
neighborhood_rating = neighborhood_rating.with_columns( ( ( pl.col("total_days")- pl.col("total_avail") ) / pl.col("total_days")*100).round(2).alias("book_pct") )
neighborhood_rating = neighborhood_rating.sort("book_pct",descending=True)
neighborhood_rating

shape: (20, 4)
┌────────────────────────┬────────────┬─────────────┬──────────┐
│ neighbourhood_cleansed ┆ total_days ┆ total_avail ┆ book_pct │
│ ---                    ┆ ---        ┆ ---         ┆ ---      │
│ str                    ┆ u32        ┆ i64         ┆ f64      │
╞════════════════════════╪════════════╪═════════════╪══════════╡
│ Ménilmontant           ┆ 158130     ┆ 38876       ┆ 75.42    │
│ Entrepôt               ┆ 196740     ┆ 49552       ┆ 74.81    │
│ Popincourt             ┆ 252900     ┆ 63793       ┆ 74.78    │
│ Buttes-Chaumont        ┆ 163950     ┆ 42419       ┆ 74.13    │
│ Panthéon               ┆ 90300      ┆ 24259       ┆ 73.14    │
│ …                      ┆ …          ┆ …           ┆ …        │
│ Palais-Bourbon         ┆ 82200      ┆ 25590       ┆ 68.87    │
│ Bourse                 ┆ 91140      ┆ 28533       ┆ 68.69    │
│ Luxembourg             ┆ 81030      ┆ 27183       ┆ 66.45    │
│ Élysée                 ┆ 86940      ┆ 32646       ┆ 62.45    │
│ Passy                  ┆ 192210     ┆ 72457       ┆ 62.3     │
└────────────────────────┴────────────┴─────────────┴──────────┘